:root {
  --lp-primary: #19cfde;
  --lp-background: #333d48;
  --lp-background-light: #404d5b;
}

.v-application {
  background-color: var(--lp-background-light) !important;
}

.theme--dark.v-card {
  background-color: var(--lp-background) !important;
}

.glass-effect {
  background-color: rgba(28, 33, 40, 0.4) !important;
  backdrop-filter: blur(10px);
}

.lp-page-container {
  min-height: calc(100vh - 70px);
}

.v-list .v-list-item--active {
  color: var(--lp-primary) !important;
}
